
<body>
    <div id='center'>
		<div id='titleWrap'>
			Silly Twitter Bios
		</div>
		<div id='subtitleWrap'>
			Generate silly Twitter Bios to amuse yourself
		</div>
		<div id='bioWrap'>
			<div id='biopicture'><img src='<%= asset_path('defaultavatarblue.jpg') %>'/></div>
			<div id='bio'>
				<div id='name'>John Doe</div>
				<%= @final%> <br>
                <div id ='textBox1'>
                  <b>Your permalink is:</b><input class="textBox" name="perma" type="text" text value="http:mytwitterapp.herokuapp.com/show?role1=<%= @role1 %>&role2=<%=@role2 %>&desc1=<%= @desc1%>&desc2=<%=@desc2%>&title1=<%=@title1%>&phrase1=<%=@phrase1%>"/>

			</div>
		</div>
		<div id='buttonsWrap'>
			<button id='generateButton' onClick="window.location.reload()">
				Generate
			</button>
		</div>
		<div id='info'>
			&copy; Troll King
	</div>
</body>

</html>