
<body>
<div id='center'>
  <div id='titleWrap'>
    Silly Twitter Bios
  </div>
  <div id='subtitleWrap'>
    Generate silly Twitter Bios to amuse yourself
  </div>
  <div id='bioWrap'>
    <div id='biopicture'><img src='<%= asset_path('defaultavatarblue.jpg') %>'/></div>
    <div id='bio'>
      <div id='name'>John Doe</div>
       <%= @perm %>
      <div id='socialWrap'>
        <input disabled="disabled" type='text' id='permaleft' value='Permalink'><input id='permatext' type='text' value='http://mytwitterbio.herokuapp.com/show?role1=<%= @role1 %>&role2=<%=@role2 %>&desc1=<%= @desc1%>&desc2=<%=@desc2%>&title1=<%=@title1%>&phrase1=<%=@phrase1%>'/>

        <div id='twitterWrap'><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mytwitterbio.herokuapp.com" data-text="Silly Twitter Bios - Generate silly twitter bios to amuse yourself" data-via="Emberyl" data-hashtags="sillytwitterbio">Tweet</a></div>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <div class="fb-like" data-href="http://mytwitterbio.herokuapp.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>

      </div>

    </div>
  </div>
  <div id='buttonsWrap'>
    <button id='generateButton' onClick="location.href='index1'">
      Generate
    </button>
  </div>
  <div id='info'>
    &copy; Troll King
  </div>
</body>

</html>